@import url('styles/base.css');

:root {
	--cor-principal: #2C3639;
	--cor-textos: #DCD7C9;
	--cor-destaques: #A27B5C;
	--cor-hover: #3F4E4F;
	
	--fonte-primaria: 'Krona One', sans-serif;
	--font-secundaria: 'Montserrat', sans-serif;
  }