@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('reset.css');

:root {
  --cor-principal: #2C3639;
  --cor-textos: #DCD7C9;
  --cor-destaques: #A27B5C;
  --cor-hover: #3F4E4F;
  
  --fonte-primaria: 'Krona One', sans-serif;
  --font-secundaria: 'Montserrat', sans-serif;
}

body  {
  box-sizing: border-box;
  background-color : var(--cor-principal);
  color : var(--cor-textos);
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__links {
  font-family: var(--font-secundaria);
  font-weight: 600;
  font-size: 1.5rem;
  color: var(--cor-destaques);
  
}

.cabecalho__menu__links:hover {
  color: var(--cor-textos);
}

.apresentacao {
  padding: 5.5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.apresentacao__pagina__sobremim {
  padding: 5.5% 15%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 82px;

}

.curriculo {
  padding: 6.5% 15%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 50px;
}

.curriculo__conteudo1 {
  display: flex;
  flex-direction: column;
  gap: 77px;
  width: 30%
}

.curriculo__sobremim{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}

.curriculo__experiencia{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.curriculo__conteudo1__titulo {
  font-size: 1.25rem;
  font-family: var(--fonte-primaria);
}

.curriculo__conteudo1__subtitulo{
  font-size: 1rem;
  font-family: var(--fonte-primaria);
}

.curriculo__conteudo1__paragrafo{
  font-size: 1rem;
  font-family: var(--font-secundaria);
}

.curriculo__conteudo2{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.curriculo__conteudo2__subtitulo{
  font-size: 1rem;
  font-family: var(--fonte-primaria);
}

.curriculo__conteudo2__paragrafo{
  font-size: 1rem;
  font-family: var(--font-secundaria);
}

.curriculo__contatos{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: auto;
}

.curriculo__tecnologias{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: auto;
}

.curriculo__educacao{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 20px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.apresentacao__conteudo__titulo {
  font-size: 1.25rem;
  font-family: var(--fonte-primaria); 
}

.destaque-titulo {
  color : var(--cor-destaques);
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--font-secundaria);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap:32px
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-size: 1.5rem;
  font-weight: 400;
}

.apresentacao__links__contatos {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--cor-destaques);
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 16px 0px;
  color: var(--cor-textos);
  font-family: var(--font-secundaria);
}

.apresentacao__links__contatos:hover {
  background-color: var(--cor-hover);
  color: var(--cor-textos);
}

.apresentacao__imagem {
  width: 50%;
}

.rodape {
  color:DCD7C9;
  background-color: var(--cor-destaques);
  text-align: center;
  padding: 24px;  
  font-family: var(--font-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
}

@media (max-width: 1200px) {

.cabecalho {
    padding: 10% 0% 0% 0%;
  }

.cabecalho__menu {
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }

.apresentacao {
  flex-direction: column-reverse;
  padding: 10% 5%;
  gap: 40px;
}
.apresentacao__pagina__sobremim {
  flex-direction: column-reverse;
  align-items: center;
  padding: 10% 5%;
}

.apresentacao__conteudo {
  width: auto;
  gap: 41px;
}







}




